.card-detail{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
}

.titulo-card{
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.7rem;
}

.precio-card{
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.3rem;
}
