.encabezado{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}


.cajaTextos{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: .1rem;
}

.nuestrosPlatillos{
    font-family: "Bebas Neue", sans-serif;
    font-size:3rem;
    color: brown;
}

.subtitulo{
    font-size: .9rem;
    color: gray;
}